@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Scrollbar Hidden */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Title and List Styling */
.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.list-container {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  padding-bottom: 1rem;
}

.container {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
}
